extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-red
                h3 Lista de Teses
            .w3-container
                br
                table.w3-table-all
                    tr
                        th Nome
                        th Identificador
                        th Curso
                        th Instituição
                        th Título
                        th Data
                        th Tipo de Tese
                    each t in lista
                        tr
                            td= t.nome
                            td= t.numero
                            td= t.curso
                            td= t.instituicao
                            td= t.titulo
                            td= t.data
                            td= t.tipo
                p
                    a(href="/") Voltar
            footer.w3-container.w3-red
                address Gerado por teseApp
